html {
    margin: 0;
    padding: 0;


}
body {
    margin: 0;
    padding: 0;




}

header, main, footer, article, menu, nav
{
    display: block;
}
header {
    font-family: 'Open Sans Condensed', sans-serif;

    width: auto;
    min-height: 820px;
    height: auto;
   background-image: url("../pictures/bacground/main3 opa копия.jpg");
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position:center ;




}
header>div>.logo{
    display: block;
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: -50px;





}

header>div>.logo>a{
    display: block;
    width: 600px;
    height: 300px;
    background: url("../pictures/logo/logo.png") no-repeat ;
    background-position: center;
    background-size: cover ;


}
.upper-menu {
    width: 100%;
    height: auto;
    margin: auto;

}
.menu{
    padding: 0;
}
.menu-button{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30px;
    margin-top: 40px;


}
.menu-button>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: large;
    font-weight: 600;
    color: white;
    text-align: center;

}
.menu-button>a:hover{
    text-decoration: none;
    border-bottom: 2px solid darkred;
    color: red;
    transition-duration: 160ms;


}
.aboutCompany {
    font-family: 'Open Sans Condensed', sans-serif;
    max-width: 600px;
    width: auto;
    height: 160px;
    margin: auto;
    clear: both;
    margin-top: 100px;
    border-radius: 10px;
    background-color: rgba(255, 82, 82, 0);





    
}
@media all and (max-width:780px) {
    .aboutCompany{
        margin-top: 400px;
    }

}
.aboutCompany>h1{
    padding-top: 50px;
    font-size: 48px;
    text-align: center;
    color: white;




}
.aboutCompany>p{
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 15px;
}
.makeOrder {
    display: block;
    background-color: rgba(255, 82, 82, 0.3);
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px ;
    width: 250px;
    height: 50px;
    border: none;
    margin: auto;
    margin-top: 100px;


}
.makeOrder:hover {

    background-color: darkred;
    color: white;
    transition-duration: 240ms;


}
.makeOrder1:hover {

    background-color: darkred;
    color: white;
    transition-duration: 240ms;
    border: none;
}

main {
    margin: 0 auto;
    width: auto;
    height: auto;
    font-family: 'Open Sans Condensed', sans-serif;

}

main>section {
    width: auto;
    min-height: 920px;
    height: auto;
}

.services {
    background-color: whitesmoke;
}
body > main > section.services > div > h2{
    margin: 0 auto;
    display: block;
    width: 700px;
    text-align: center;
    font-weight: 200;
}
.descriptionPic{
    float: right;
    max-width: 750px;
    width: auto;


    overflow:hidden;

}
.descriptionPic>a>img:hover{
    transform: scale(1.1);
    transition-duration: 5s;
}
.descriptionPic>a>img{
    transition-duration: 2s;
}


.services>div{
    padding-top: 50px;
}
.descriptionS{
margin-top: 50px;
    height: auto;
    display: inline-block;
    float: left;
}
.descriptionS>ul>li{

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
    list-style: none;
}



.descriptionS>ul{
padding: 0;
   margin: 0;
}
.descriptionPic{
    margin-top: 50px;
    float: right;
    height: auto;



}
.makeOrder1 {
    display: block;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px ;
    width: 250px;
    height: 50px;
    border: none;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;

}
body > header > button > a
{
    color: white;
    text-decoration: none !important;
}
body > main > section.services > button > a{
    color: black;
    text-decoration: none ;
}
body > header > button > a:hover,
body > main > section.services > button > a:hover{
    color: white;
}

.clients{
    width: auto;
    min-height: 820px;
    height: auto;
    background-image: url("../pictures/bacground/main4.jpg");
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position:center ;
    color: white;
}
.clients>div:nth-child(1),.clients>div:nth-child(2),.clients>div:nth-child(3){
    margin-top: 150px;
}
body > main > section.clients > div > h2{

    margin: 0 auto;
    margin-top: 50px;
    display: block;
    width: 700px;
    text-align: center;
    font-weight: 200;
    padding-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 82, 82, 0.3);
    padding-bottom: 50px;
    border-radius: 10px;
}

.partners{

    height: 300px;
    margin-bottom: 30px;

}
.descrip{
    background-color: rgba(255, 82, 82, 0.3);
    text-align: center;
    border-radius: 10px;


}
.descrip:hover{
    background-color: darkred;
    transition-duration: 340ms;


}


.information{
    background-color: whitesmoke;
}
body > main > section.information > div > h2{
    margin: 0 auto;
    display: block;
    width: 700px;
    text-align: center;
    font-weight: 200;
    padding-top: 50px;
    margin-bottom: 50px;
}
body > main > section.information > div > p{
    text-align: center;
    font-size: 16px;
}
.orderForm {
    background-color: rgba(255, 82, 82, 0.3);
    width: 500px;
    height: auto;
    border: 2px solid rgba(255, 82, 82, 0.3);
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
}
.orderForm>p{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px ;
}

.order{
    display: block;
    margin: auto;
    width: 300px;
    height: auto;
}
input, textarea{
    border-radius: 10px;
    border: 1px solid white;
}

.formButtons{
    background-color: white;
}
.formButtons:hover{
    background-color: darkred;
    color: white;
    transition-duration: 140ms;
    border-color: darkred;
}



footer{
    font-family: 'Open Sans Condensed', sans-serif;
    width: auto;
    min-height: 200px;
    height: auto;
    background-image:url("../pictures/bacground/main3 opa копия.jpg") ;
    background-repeat:no-repeat ;
    background-size: 100% ;
    background-position: center ;

}

.logoTDS{
    float: left;
    width: 100px;
    height: 100px;
    background-image:url("../pictures/logo/TDS (studio) logo/ramka- logo.png") ;
    background-size: 100%;
    margin-top: 70px;
}
.logoTDS>a{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.artContacts{
    margin-top: 50px;
    float: right;
    width: 300px;
    height: 200px;
    color: white;
}